

<html>
	
	<head>
	
	
	<title>Arabidopsis G-Signaling Interactome</title> 

    <!--[if IE]> <link rel="stylesheet" media="screen" type="text/css" href="files/style_for_IE.css" /> <![endif]--> 
    <!--[if lte IE 6]> <link rel="stylesheet" media="screen" type="text/css" href="files/style_for_IE6.css" /> <![endif]--> 
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" /> 
    

	
	<link rel="stylesheet" media="screen" type="text/css" href="https://raw.github.com/occamsRZR/gsignal/master/css/style.css" />
		
	<script src="http://code.jquery.com/jquery-latest.js"></script> 
	<script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/js/jquery.tablesorter.js"></script> 
	<script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/js/jquery.tablesorter.pager.js"></script> 
	

    
    <script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/js/get.url.vals.js"></script>
	
	<script type="text/javascript"> 

	
	$(document).ready(function(){
		$("#dataTable")
			.tablesorter({widthFixed: true, widgets: ['zebra']
    }); 
 
 
    $('.correlation').change(function () {
	    $(this.value).show();
			})
			.trigger('change');
	});
		
		
		
		
	</script> 
	
	[% IF (bid || p_locus) %]
        <!-- Cytoscape Web -->
        <script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/cytoscape_web/js/min/AC_OETags.min.js"></script>
        <script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/cytoscape_web/js/min/json2.min.js"></script>
        <script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/cytoscape_web/js/min/cytoscapeweb.min.js"></script>
        <script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/js/interactome.viewer.js"></script>
        

    [% END %]
    
    [% IF ( view == 'tree' ) %]    
        <!-- jsPhyloSVG -->
        <script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/js/raphael-min.js" ></script>
        <script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/js/jsphylosvg-min.js"></script> 
        <script type="text/javascript" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/js/jsphylo.viewer.js"></script>
    [% END %]
	</head>
	
	
	<body> 
    <div id="page"> 
	  <div id="header"> 
	    <div id="logo"> 
	    <!-- begin logo --> 
		<p><i>Arabidopsis</i></p> 
		<div id="slogan"><p>G-Signaling Interactome Database</p></div> 
		<!-- end logo --> 
		</div> 
		<div id="nav"> 
		  <div id="nav-menu-left"></div> 
		  <div id="nav-menu"> 
		  <!-- start of navigation --> 
		    <ul> 
			  <li class="nav-menuList"><a href="http://bioinfolab.unl.edu/emlab/Gsignal/index.pl">Home</a></li> 
			  <li class=
			    [% IF ( (view == 'baits') || bid )%]
			        "active"
			    [% ELSE %]
			        "nav-menuList"
			    [% END %]
			    ><a href="/cgi-bin/gsignal/development/gsignal/find_interactions.cgi?view=baits">Baits</a></li> 
			  <li class=
                [% IF ( (view == 'preys') || (view == 'p_locus') )%]
			        "active"
			    [% ELSE %]
			        "nav-menuList"
			    [% END %]
			    ><a href="/cgi-bin/gsignal/development/gsignal/find_interactions.cgi?view=preys">Preys</a></li> 
			  <li class="nav-menuList"><a href="/cgi-bin/gsignal/development/gsignal/find_interactions.cgi?view=search">Search</a></li> 
<!--			  <li class="nav-menuList"><a href="/cgi-bin/gsignal/development/gsignal/find_interactions.cgi?view=tree">Tree of Viridiplantae</a></li> -->
              <li class="nav-menuList"><a href="/cgi-bin/gsignal/development/gsignal/find_interactions.cgi?view=help">Help</a></li> 
              <li class="nav-menuList"><a href="/cgi-bin/gsignal/development/gsignal/find_interactions.cgi?view=links">Links</a></li> 
			</ul> 
			<!-- end navigation --> 
          </div> 
		  <div id="nav-menu-right"></div> 
		</div> 
	  </div> 
	  <div class="clearfloats"></div> 
	<div id="content" class="round"> 
	    <div class="content-padding"> 
		  <!-- page content below --> 
		  <table id="overallTable" width="100%"> 
