<!-- page content below -->
		  <table id="overallTable" width="100%">
<tr><td><table class="topTable">
<tr><td align="center"><br>
<table class="help">
<tr><td>
	<div id="help">
	<h2>Arabidopsis Information:</h2>
		<ul>
			<li class="none"><a target="_blank" href="http://www.arabidopsis.org"><b>TAIR: The <i>Arabidopsis</i> Information Resource</b></a>
			</li>
		</ul>
		<br>
		<br>
    <h2>N-Browse:</h2>
    	<ul>
    		<li class="none"><b>N-Browse at UNL</b>
			<ul>
				<li class="none"><a target="_blank" href="http://bioinfolab.unl.edu/cgi-bin/nbrowse2/NBrowseAppletProd">Java Applet version</a> 
				(runs within the Web browser; will open another window or tab)
				</li>
				<li class="none"><a target="_blank" href="http://bioinfolab.unl.edu/cgi-bin/nbrowse2/NBrowseJnlpProd">Java Web Start version</a> 
				(starts a Java application on your machine)
				</li>
			</ul>
			</li>
			<li class="none"><a target="_blank" href="http://www.arabidopsis.org/tools/nbrowse.jsp"><b>N-Browse at TAIR</b></a> (a link to the TAIR page)
			<ul>
				<li  class="none">Both Java Web-start and Java Applet versions are available. 
			</li>
			</ul>
			</li>
			<li class="none"><a target="_blank" href="http://www.gnetbrowse.org"><b>N-Browse</b></a> (the original developer website; http://www.gnetbrowse.org)
			</li>
			<br>
			<li class="none">See the <a href="./gsignal.cgi?list=HELP#nbrowse">Help</a> page for more information about N-Browse or if you have a problem launching the program.
			</li>
		</ul>
		<br>
		<br>
	<h2>Interactome Databases (plant focused):</h2>
		<ul>
			<li class="none"><a target="_blank" href="http://atpid.biosino.org"><b>AtPID: The <i>Arabidopsis thaliana</i> Protein Interactome Database</b></a>
			</li>
			<li class="none"><a target="_blank" href="http://virtualplant.bio.nyu.edu/cgi-bin/vpweb2/"><b>VirtualPlant</b></a>
			</li>
			<li class="none"><a target="_blank" href="http://www.ebi.ac.uk/intact"><b>IntAct at EBI</b></a>
			</li>
		</ul>
		<br>
		<br>
	<h2>Interactome Databases and Tools (general)</h2>
		<ul>
			<li class="none"><a target="_blank" href="http://thebiogrid.org/"><b>BioGRID: Biological General Repository for Interaction Datasets</b></a>
			</li>
			<li class="none"><a target="_blank" href="http://160.80.34.4/mint/Welcome.do"><b>MINT: Molecular Interaction database</b></a>
			</li>
			<li class="none"><a target="_blank" href="http://dip.doe-mbi.ucla.edu/dip/Main.cgi"><b>DIP: Database of Interacting Proteins</b></a>
			</li>
			<li class="none"><a target="_blank" href="http://www.cytoscape.org/"><b>Cytoscape</b></a>
			</li>
		</ul>
		<br>
		<br>
	<h2>Gene Expression</h2>
		<ul>
			<li class="none"><a target="_blank" href="https://www.genevestigator.com/gv/index.jsp"><b>Genevestigator</b></a>
			</li>
		</ul>
	
	</div>
</td></tr></table>
</td></tr>
</table></td></tr>
</table>
</div>
</div>