</br>

<div id="main" class="round">
<a href="#"><img id="arrow" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/images/left_arrow.png" width="13"></a> Protein info and Interaction
<table id="info" summary="Protein information" style="display:none">
    <tr>


        
        <td id="cytoscapeweb" style="width:750px;height:750px;" class="cytoscape round">

        </td>             
        <td class="sidebar round"> 
            <strong><u>Protein Info</u></strong></br>
            <strong>Name:</strong> [% info(id).name %]</br>
            <strong class="locus">Locus: </strong>
                <locus>[% info(id).locus %]</locus></br>
            <strong>Number of Interactions:</strong> [% info(id).int %]</br>
            <strong>Length:</strong> [% info(id).aa %]aa</br>
            <strong>Description:</strong> [% info(id).desc %]</br></br>
            
       
            Cuttoff values and significant interactions:</br>
     
            <table class="cutoffs" summary="All the cutoff values">
                <tr>
                    <td class="cutoffs"><b>Mut.</b></td>
                    <td class="cutoffs"><b>Ana.</b></td>
                    <td class="cutoffs"><b>Dev.</b></td>
                    <td class="cutoffs"><b>Stim.</b></td>
                    </b>              
                </tr>
                <tr>
                    <td class="cutoffs">0.135</td>
                    <td class="cutoffs">0.383</td>
                    <td class="cutoffs">0.905</td>
                    <td class="cutoffs">0.138</td>
                </tr>
                <tr>
                    <td class="cutoffs">[% info(id).count_mut %]</td>
                    <td class="cutoffs">[% info(id).count_ana %]</td>
                    <td class="cutoffs">[% info(id).count_dev %]</td>
                    <td class="cutoffs">[% info(id).count_stim %]</td>
                </tr>
                <tr>
                    <td class="general">
                        <img id="#visBrowserLogo" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/images/logo-tair2.gif" alt="N_logo" width="25" height="18" align="bottom">Launch N-Browse w/ TAIR interactome. </br>
                    </td>
                    <td>
                        <img src="http://bioinfolab.unl.edu/emlab/Gsignal/files/images/n_logo.gif" alt="N_logo" width="14" height="18" align="bottom">Launch N-Browse w/ G-signaling interactome.
                    </td>
                </tr>
                
            </table>
        </td>

    </tr>                  
    <!-- This is the svg Canvas (phylogenetic tree) -->    

    <!--                <div id="svgCanvas"> </div> -->
</table>
