<form>
    <textarea name="q" rows="10" cols="50" onfocus="if(!this._haschanged){this.value=''};this._haschanged=true;">Input your query. Multiple queries require newlines between them.
    </textarea></br>
    <input type="radio" name="type" value="name" /> Locus/Name/Symbol <br />
        <input type="checkbox" name="names" value="locus" /> Locus<br />
        <input type="checkbox" name="names" value="name" /> Name <br />
        <input type="checkbox" name="names" value="symbol" /> Symbol <br />        
    <input type="radio" name="type" value="desc" /> Description <br />
    <input type="submit" value="Submit" \>
</form>