

<table cellspacing="1" id="dataTable" class="tablesorter">	

	<thead>
	<!-- This is the header for the prey/bait table -->	
	<tr>
		
        <th >Locus</th>
        
        <th class="{sorter: false}">Network</th>

        <th class="{sorter: false}">Regulatory Information</th>
        
        <th>TAIR Description</th>       
                
        <th>Length  </th>
        
        <th>Inter-actions</th>
        
        <th class="Correlation">Mut.</th>
        <th class="Correlation">Ana.</th>
        <th class="Correlation">Dev.</th>
        <th class="Correlation">Stim.</th>
        
    </tr>
	</thead>
    
    <!-- This is where the content of the prey/bait table will go -->

	<tbody>

	[% FOREACH protein IN proteins %]
		<tr>
			<!-- Protein Locus -->
			<td>
			    <a target="_blank" href="http://www.arabidopsis.org/servlets/TairObject?name=[% protein.locus %]&type=locus">
			    [% protein.locus %]
			    [% IF protein.bait_note %]
			    [[% protein.bait_note %]]
			    [% END %]
			    
			</td>
			
			
			<!-- Here are all the interaction links -->
            <td>
                <a target="_blank" href="http://aquila.bio.nyu.edu/cgi-bin/NBrowseAppletProd\?-d=TAIR&-q=[% protein.locus %]"><img src="http://bioinfolab.unl.edu/emlab/Gsignal/files/images/logoSmall-tair2.gif" alt="Tair_logo" class="visBrowserLogo" align="middle" ></a><a target="_blank" href="http://bioinfolab.unl.edu/cgi-bin/nbrowse2/NBrowseAppletProd?-d=NBROWSE2_TEST2&-q=[% protein.locus %]" ><img src="http://bioinfolab.unl.edu/emlab/Gsignal/files/images/n_logo-small.gif" alt="N_logo" class="visBrowserLogo" align="middle" ></a><a target="_blank" href="http://www.megabionet.org/atpid/webfile/simple_detail.php?pro=[% protein.locus %]" verticle-align="center">AtPID</a>
            </td>
            
            <!-- Regulatory Information Links -->
            <td>
                <a target="_blank" href="http://arabidopsis.med.ohio-state.edu/AtcisDB/atcisview.html?id=[% protein.locus %]"> AtcisDB</a></br>
                <a target="_blank" href="http://arabidopsis.med.ohio-state.edu/AtTFDB/tfsummary.html?locusid=[% protein.locus %]"> AtTFDB</a></br>
                <a target="_blank" href="http://atted.jp/data/locus/[% protein.locus %].shtml"> ATTED</a>
            </td>
            
			<!-- Protein description-->
			<td>[% protein.desc %]</td>
			<!-- Length -->
			<td>[% protein.len %]</td>
			<!-- Interactions -->
			<td><a href="http://bioinfolab.unl.edu/cgi-bin/gsignal/development/gsignal/find_interactions.cgi?bait_id=[% protein.bait_id %]">
			    [% protein.interactions %]
			    </a>
			</td>
			<!-- Mutation -->
			<td>[% protein.sig_mut %]</td>
			<!-- Anatomy -->
			<td>[% protein.sig_ana %]</td>
			<!-- Development -->
			<td>[% protein.sig_dev %]</td>
			<!-- Stimulus -->
			<td>[% protein.sig_stim %]</td>	
	
		</tr>
	[% END %]
	</tbody>
	
</table>

