</br>
<h1 style="text-align:center; font-size:35;">
[% IF view == 'baits' %]
Bait summary - 24 proteins
[% ELSIF view == 'preys' %]
Prey summary - 431 proteins
[% END %]
</h1>
<table class="info" summary="Protein information">
	<tr>
		<td class="main round">
			
				
		</td>
		
		<td class="general">

			<img id="#visBrowserLogo" src="http://bioinfolab.unl.edu/emlab/Gsignal/files/images/logo-tair2.gif" alt="N_logo" width="25" height="18" align="bottom">
			Launch N-Browse w/ TAIR interactome. 
			</br>
			<img src="http://bioinfolab.unl.edu/emlab/Gsignal/files/images/n_logo.gif" alt="N_logo" width="14" height="18" align="bottom">
			Launch N-Browse w/ G-signaling interactome.
		</td>
		                
        <td class="sidebar round"> 
			<strong>Number of Interactions:</strong> [% info(id).int %]</br>
			
	   
            Cuttoff values and significant interactions:</br>
     
            <table class="cutoffs" summary="All the cutoff values">
                <tr>
                    <td class="cutoffs"><b>Mut.</b></td>
                    <td class="cutoffs"><b>Ana.</b></td>
                    <td class="cutoffs"><b>Dev.</b></td>
                    <td class="cutoffs"><b>Stim.</b></td>
                    </b>              
                </tr>
                <tr>
                    <td class="cutoffs">0.135</td>
                    <td class="cutoffs">0.383</td>
                    <td class="cutoffs">0.905</td>
                    <td class="cutoffs">0.138</td>
                </tr>
                <tr>
                    <td class="cutoffs">[% info(id).count_mut %]</td>
                    <td class="cutoffs">[% info(id).count_ana %]</td>
                    <td class="cutoffs">[% info(id).count_dev %]</td>
                    <td class="cutoffs">[% info(id).count_stim %]</td>
                </tr>
                
                
            </table>
        </td>
			
	</tr>
</table>
