<table>
    <tr>

    </tr>
	<tr>
		<td>
		    </br>
		    </br>

	    
       	    <div id="svgCanvas">
		<td>
		<!-- Results table -->
		    <table class="treeResults">
		    	<tr>
		    		<th>Alpha</th>
		    		<th>Beta</th>
		    		<th>RGS</th>
		    	</tr>
                <tr>
		    		<td>8</td>
		    		<td>2</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>5</td>
		    		<td>1</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>10</td>
		    		<td>2</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>6</td>
		    		<td>1</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>16</td>
		    		<td>4</td>
		    		<td>2</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>7</td>
		    		<td>1</td>
		    		<td>2</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>5</td>
		    		<td>1</td>
		    		<td>0</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>4</td>
		    		<td>4</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>4</td>
		    		<td>1</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>6</td>
		    		<td>1</td>
		    		<td>0</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>7</td>
		    		<td>4</td>
		    		<td>2</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>9</td>
		    		<td>2</td>
		    		<td>2</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>11</td>
		    		<td>3</td>
		    		<td>2</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>5</td>
		    		<td>1</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>6</td>
		    		<td>1</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>4</td>
		    		<td>3</td>
		    		<td>2</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>4</td>
		    		<td>1</td>
		    		<td>0</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>8</td>
		    		<td>2</td>
		    		<td>0</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>7</td>
		    		<td>1</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>9</td>
		    		<td>1</td>
		    		<td>0</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>6</td>
		    		<td>1</td>
		    		<td>0</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>3</td>
		    		<td>1</td>
		    		<td>1</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>2</td>
		    		<td>3</td>
		    		<td>0</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>0</td>
		    		<td>0</td>
		    		<td>0</td>
		    	</tr>		    			    	
		    	<tr>
		    		<td>0</td>
		    		<td>0</td>
		    		<td>0</td>
		    	</tr>		    		    			    	
  			    	    			    
		    </table>
		
		</td>
	</tr>
</table>
    